root {
    --primary: rgb(10, 56, 113);
    /* --primary: #0a3871; */
    --ternaria: #d8dfe8;
    --background: rgb(243, 245, 252);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html,
  textarea,
  footer {
    font-size: 62.5%;
    font-family: Inter;
    background-color: var(--background);
  }
  
  body {
    font-size: 1.6rem;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
  }
  
  button {
    flex: 1;
    height: 68px;
    border-radius: 24px;
    font-size: 1.6rem;
    cursor: pointer;
  
    border: 1px solid var(--primary);
    background: var(--ternaria);
    color: var(--primary);
  
    transition: box-shadow 0.3s ease;
  }
  
  button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .body-container {
    padding: 40px;
  
    display: grid;
    grid-template-areas:
      "header sidebar"
      "main sidebar"
      "footer footer";
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 3fr 1fr;
  }
  
  .body-container .body-container.header {
    grid-area: header;
  }
  
  .body-container .main-container {
    grid-area: main;
  
    padding: 32px 80px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .body-container .main-container .textarea-label {
    color: transparent;
    height: 0;
  }
  
  .body-container .main-container .text-input {
    width: 100%;
    height: 100%;
    font-size: 3.2rem;
    color: var(--primary);
    border: none;
    resize: none;
  }
  
  .body-container .main-container .text-input::placeholder {
    color: var(--primary);
  }
  
  .body-container .main-container .text-input:focus {
    outline: none;
  }
  
  .body-container .main-container div {
    width: 100%;
  }
  
  .body-container .main-container .info {
    font-size: 1.2rem;
    margin: 16px 0;
  }
  
  .body-container .main-container div p::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("./images/exclamation.svg");
    background-size: cover;
    margin-right: 5px;
  }
  
  .body-container .main-container div .button-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  
  .body-container #encrypt-button {
    background-color: var(--primary);
    color: var(--background);
  }
  
  .body-container .sidebar-container {
    grid-area: sidebar;
  
    padding: 32px;
  
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    text-align: center;
  }
  
  .body-container .sidebar-container.space-between {
    justify-content: space-between;
  }
  
  .body-container .sidebar-container img {
    width: 100%;
  }
  
  .sidebar-container h2 {
    margin-top: 32px;
    font-weight: 700;
  }
  
  .body-container .sidebar-container p {
    margin-top: 16px;
    color: #495057;
  }
  
  .body-container .sidebar-container .copyBtn {
    flex: 0;
    padding: 24px;
    background-color: transparent;
    margin-top: 32px;
  }
  
  .body-container footer {
    grid-area: footer;
    text-align: center;
    margin-top: 5rem;
  }
  
  @media (max-width: 768px) {
    .body-container {
      display: flex;
      flex-direction: column;
    }
  
    .body-container .main-container {
      height: auto;
      padding: 32px 0;
      margin-bottom: 4%;
    }
  
    .body-container .main-container .text-input {
      width: 100%;
      min-height: 50vh;
    }
  
    .body-container .sidebar-container img {
      width: 0%;
    }
  
    .body-container .sidebar-container h2 {
      padding: 0 0 16px;
    }
  }
  
  @media (max-width: 375px) {
    button {
      flex: none;
    }
  
    .body-container {
      padding: 24px;
    }
  
    .body-container .main-container div .button-container {
      flex-direction: column;
    }
  }